extends ../_/body

//- variables
block context
    - bodyId = 'about';
    - bodyClass = 'about';

//- body
block main

    main(role="main")

        include _about/front
        include _about/section-1
        include _about/section-2
        include _about/section-3
